<%- include('partials/header') %>
<section class="section-padded center">
  <div class="container container--narrow">
    <div style="font-size:5rem">🌱</div>
    <h1><%= t['404'].title %></h1>
    <p><%= t['404'].desc %></p>
    <a href="/" class="btn btn-primary"><%= t['404'].btn %></a>
  </div>
</section>
<%- include('partials/footer') %>
